:root {
    --header-height: 80px;
    --max-width: 1536px;
    --primary-color: #e50914;
    --secondary-color: #111;
}

.card-item {
    .img {
      width: 100%;
      height: 300px;
      img {
        max-height: 300px;
        margin: auto;
      }
    }
    .phim-content {
      margin-top: 10px;
    }
    transition: 0.5s;
    &:hover {
      transform: scale(1.07);
    }
  }